<!DOCTYPE html>
<html>
    <head>
        <title>Flask test</title>
        <link rel="stylesheet" href="static/styles.css" type="text/css">
    </head>
    <body>
        <div id="buttons">
            <form method="POST" action="/">
                <div id="onoff">
                    <button type="submit" id="on" name='btn' value='on' class="on">on</button>
                    <button type="submit" id="off" name='btn' value='off' class="off">off</button>
                </div>
                <button type="submit" id="toggle" name='btn' value='toggle' class="{%if on%}off{%else%}on{%endif%}">toggle {%if on%}off{%else%}on{%endif%}</button>
            </form>
        </div>
    </body>
</html>
